// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	margin-top: 0;
}

input {
	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
	}
}


.form-control:focus{
	border-color: gainsboro;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.card-block {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}

.btn-outline-success {
	color: #000;
	border-color: #000;
	padding: 3px 8px;
	font-size: .8rem;
	&:hover {
		background-color: #000;
		border-color: #000;
	}
}

.navbar-brand:hover {
	background-color: inherit;
}

.navbar-light .navbar-nav .nav-link {
	padding: 6px;
	margin-left: 10px;
	&:hover {
		color: #fff;
		background-color: #999;
		border-radius: 0.25rem;
	}
}

.nav-item > form > input {
	font-size: .7rem;
}

.nav-item.search {
	margin-right: 15px;
}

.card > .card-item { 
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 5px;
	> input {
		border: none;
		background: none;
		width: 100%;
	}
	&.card-text {
		margin-bottom: 0;
	}
}

div.actions {
	margin: 10px 0 0 0;
	text-align: right;
	> input {
		border: none;
		background: none;
		padding: 10px 5px 2px 5px;
		&:hover {
			color: #999;
		}
	}
}

.card-link > a {
	margin-left: 10px;
}

@media screen and (max-width: 992px) {
	.navbar-nav {
		flex-direction: row;
	}
	.navbar-light .navbar-nav .nav-link {
		margin: 7px 10px;
	}
}
